//#include "resource.h"
#include "myres.h"

IDI_HELLO ICON    DISCARDABLE     "Hello.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDM_TESTSDK MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    {
        MENUITEM "&Open",                       IDM_FILE_OPEN
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       IDM_FILE_EXIT
    }

    POPUP "&Help"
    {
        MENUITEM "&About ...",                  IDM_HELP_ABOUT
    }
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//
DLG_ABOUT DIALOG DISCARDABLE  0, 0, 146, 96
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "¹ØÓÚ"
FONT 10, "System"
BEGIN
    DEFPUSHBUTTON   "Check",CMD_CHECK,7,75,50,14
    PUSHBUTTON      "Cancel",CMD_CANCEL,89,75,50,14
    EDITTEXT        EDT_USERNAME,53,7,86,12,ES_AUTOHSCROLL
    EDITTEXT        EDT_PASSWORD,53,28,86,12,ES_AUTOHSCROLL
    LTEXT           "User name:",STC_USERNAME,7,9,40,8
    LTEXT           "Password:",STC_PASSWORD,7,30,40,8
END